<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dish Dash - Add Recipe</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-stone-200 flex justify-center items-center min-h-screen">
  <!-- Back arrow linking to home page -->
  <a href="{{ url_for('main.recipes') }}" class="absolute top-4 left-4">
      <img src="{{ url_for('static', filename='img/back-arrow.svg') }}" alt="Logo" class="w-12 h-12">
  </a>
  <div class="bg-white p-6 rounded-lg shadow-lg w-11/12 max-w-md border-b border-1 border-black">
    <h2 class="text-2xl font-bold mb-4 text-center">Add New Recipe</h2>
    <form method="POST" enctype="multipart/form-data">
      <div class="mb-4">
        <label class="block text-gray-700">Title:</label>
        <input type="text" name="title" class="w-full p-2 border rounded" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Description:</label>
        <textarea name="description" class="w-full p-2 border rounded" required></textarea>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Category:</label>
        <select name="category" class="w-full p-2 border rounded">
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Dessert">Dessert</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Flavor:</label>
        <select name="flavor" class="w-full p-2 border rounded">
          <option value="Savory">Savory</option>
          <option value="Salty">Salty</option>
          <option value="Sweet">Sweet</option>
          <option value="Spicy">Spicy</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Difficulty:</label>
        <select name="difficulty" class="w-full p-2 border rounded">
          <option value="Easy">Easy</option>
          <option value="Medium">Medium</option>
          <option value="Hard">Hard</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Dietary Restriction:</label>
        <select name="dietary" class="w-full p-2 border rounded">
          <option value="Vegetarian">None</option>
          <option value="Vegetarian">Vegetarian</option>
          <option value="Vegan">Vegan</option>
          <option value="Keto">Keto</option>
          <option value="Gluten-Free">Gluten Free</option>
        </select>
      </div>
      <div class="flex flex-col items-center mb-8">
      <input type="file" name="image" accept="image/*" class="text-sm bg-gray-100 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-200 transition" required>
    </div>
      <button type="submit" class="w-full bg-green-500 text-white py-2 rounded hover:bg-green-600">
        Add Recipe
      </button>
    </form>
  </div>
</body>
</html>