<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dish Dash</title>
   <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-gray-100 h-screen flex justify-center items-center relative">
  
   <!-- Back arrow linking to home page -->
   <a href="{{ url_for('main.index') }}" class="absolute top-4 left-4">
       <img src="{{ url_for('static', filename='img/back-arrow.svg') }}" alt="Logo" class="w-12 h-12">
   </a>

   <!-- Company Logo-->
   <a class="absolute top-2 w-full flex justify-center pointer-events-none">
     <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Company Logo" class="w-28 h-28">
   </a>

    <!-- Main content container -->
    <div class="bg-white p-6 rounded-lg shadow-lg w-11/12">
        <h2 class="text-2xl font-bold text-center mb-6">Check out your favorites!</h2>

        <!-- Filter Dropdowns -->
        <div class="flex justify-between mb-6">
            <select class="w-1/4 p-2 border rounded hover:bg-green-100 m-1">
                <option>Category</option>
                <option>Breakfast</option>
                <option>Lunch</option>
                <option>Dinner</option>
            </select>
            <select class="w-1/4 p-2 border rounded hover:bg-green-100 m-1">
                <option>Flavor</option>
                <option>Savory</option>
                <option>Salty</option>
                <option>Sweet</option>
            </select>
            <select class="w-1/4 p-2 border rounded hover:bg-green-100 m-1">
                <option>Difficulty</option>
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
            </select>
            <button class="w-1/4 p-2 border rounded font-bold hover:bg-green-100 m-1">
                Update Search
            </button>
        </div>

        <!-- Scrollable Recipe Grid -->
        <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 h-[300px] overflow-y-auto">
            {% for recipe in recipes %}
            <div class="bg-gray-200 w-full h-32 rounded-lg flex items-center justify-center">
                <p class="text-gray-600"><a href={{url_for('main.recipe_from_id',recipe_id=recipe.recipeID)}}>{{recipe.name}}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>

     <!-- Footer with Social Media Links(Fake) -->
    <footer class="bg-green-400 rounded-lg shadow-lg fixed bottom-0 w-full">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <div class="flex items-center space-x-2">
                <img src="../static/img/logo.png" class="h-12" alt="logo" />
                <span class="text-sm text-white font-bold">DishDash™</span>
            </div>
            <!-- Social Media Icons -->
            <div class="flex space-x-4">
                <img src="../static/img/social_media_logos/facebook_logo.png" alt="Social 1" class="w-6 h-6">
                <img src="../static/img/social_media_logos/instagram_logo.png" alt="Social 2" class="w-6 h-6">
                <img src="../static/img/social_media_logos/x_logo.png" alt="Social 3" class="w-6 h-6">
            </div>
        </div>
    </footer>
</body>
</html>