<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Dash</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.jpeg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-stone-100" flex flex-col min-h-screen>
    <!-- Navbar -->
    <nav class="bg-green-300 p-5 border-b border-1 border-black">
        <div class="container mx-auto flex justify-between items-center">

            {% if session['user_id'] %}
            <!-- Profile Picture -->
            <a href="{{ url_for('profile.profile') }}">
                <img src="{{ url_for('static', filename=profile_pic) }}" alt="Profile" class="w-10 h-10 rounded-full border-1 border-grey">
            </a>
            {% else %}
            <div class="w-10"></div>  <!-- Placeholder to maintain spacing -->
            {% endif %}

            <!-- Search Bar -->
            <div class="relative px-4 w-full">
                <input type="text" placeholder="Find Recipes" class="w-full p-2 pl-10 text-stone-600 border border-stone-400 rounded-lg focus:outline-none focus:ring-2 focus:border-green-600">
                <img src="{{ url_for('static', filename='img/search_icon.svg') }}" alt="Search" class="absolute inset-y-0 left-7 my-auto w-5 h-5">
            </div>

            <!-- Navigation Links -->
            <div class="flex space-x-4 ml-auto">
                {% if session['user_id'] %}
                <a href="{{ url_for('auth.logout') }}" class="bg-green-400  border-b border-1 border-stone-400 text-white px-4 py-2 rounded-lg shadow-md transform transition-all hover:bg-white hover:text-green-700 hover:scale-105 focus:outline-solid focus:ring-2 focus:ring-green-400">Logout</a>
                <a href="{{ url_for('main.recipes') }}" class="bg-green-400  border-b border-1 border-stone-400 text-white px-4 py-2 rounded-lg shadow-md transform transition-all hover:bg-white hover:text-green-700 hover:scale-105 focus:outline-solid focus:ring-2 focus:ring-green-400">Recipes</a>
                <a href="{{ url_for('main.favorites') }}" class="bg-green-400 border-b border-1 border-stone-400 text-white px-4 py-2 rounded-lg shadow-md transform transition-all hover:bg-white hover:text-green-800 hover:scale-105 focus:outline-solid focus:ring-2 focus:ring-green-400">Favorites</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="bg-green-800 text-white px-4 py-2 rounded-lg shadow-md transform transition-all hover:bg-white hover:text-green-800 hover:scale-105 focus:outline-solid focus:ring-2 focus:ring-green-400">Login</a>
                <a href="{{ url_for('auth.register') }}" class="bg-green-800 text-white px-4 py-2 rounded-lg shadow-md transform transition-all hover:bg-white hover:text-green-800 hover:scale-105 focus:outline-solid focus:ring-2 focus:ring-green-400">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto flex items-center justify-between mt-10 p-6">
        <!-- Text Content -->
        <div class="flex flex-col">
            {% if username %}
            <h1 class="text-3xl font-bold text-gray-800">Welcome back, {{ username }}!</h1>
            {% endif %}
            <h1 class="text-xl font-bold text-green-500">Let's eat!</h1>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="mt-2 w-40 sm:w-50 md:w-60 mx-auto">
        </div>

        <!-- Image Carousel with Caption -->
        <div class="w-96 h-64 relative text-center">
            <img id="carousel" src="{{ url_for('static', filename='img/photo1.jpeg') }}" alt="Carousel Image" class="w-full h-full object-cover rounded-lg shadow-lg">
            <p class="mt-2 text-lg font-medium text-gray-700">[Recipe Name], <span class="text-gray-700 cursor-pointer">Check it out!</span></p>
        </div>

    </div>

    <!-- Footer with Social Media Links(Fake) -->
    <footer class="bg-green-300 rounded-sm shadow-lg fixed bottom-0 w-full border-b border-1 border-stone-400">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <div class="flex items-center space-x-2">
                <img src="../static/img/logo.png" class="h-12" alt="logo" />
                <span class="text-sm text-white font-bold">DishDash™</span>
            </div>
        <!-- Social Media Icons -->
            <div class="flex space-x-4">
                <img src="../static/img/social_media_logos/facebook_logo.png" alt="Social 1" class="w-6 h-6">
                <img src="../static/img/social_media_logos/instagram_logo.png" alt="Social 2" class="w-6 h-6">
                <img src="../static/img/social_media_logos/x_logo.png" alt="Social 3" class="w-6 h-6">
            </div>
        </div>
    </footer>

</body>
</html>
