<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Dash</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.jpeg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-white flex justify-center items-center min-h-screen px-4">

    <div class="bg-gray-100 p-6 rounded-lg shadow-lg w-96">
        <form action="{{ url_for('auth.login') }}" method="POST">
            <div class="text-2xl font-bold text-center mb-4">Log In</div>

            <div class="mt-4">
                <label class="block font-medium mt-2">Email</label>
                <input type="text" name="email" class="w-full p-2 border rounded" placeholder="Email" value="" required>
            </div>
    
            <div class="mt-4">
                <label class="block font-medium mt-2">Password</label>
                <input type="password" name="password" class="w-full p-2 border rounded" placeholder="••••••••" value="" required>
            </div>
    
            <button type="submit" class="mt-4 w-full bg-green-500 text-white py-2 rounded hover:bg-green-600">Log In</button>
        </form>
        <div class="mt-4 text-center">Don't have an account? <a class="underline" href="{{ url_for('auth.register') }}">Sign up</a></div>
    </div>
</body>

</html>